body {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  padding-right: 0px;
  background-image: url('background11.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}

h1 {
  font-size: 90px;
  font-family: georgia;
  text-align:center;
  padding-top: 10px;
  margin-top : 5px;
  color: darkblue;
}

#menu {
  background-color: black;
  height: 35px;
  padding-left: 0;
  padding-right: 0;
  font: helvetica;
}

#menu ul{
  width:100%;
  padding: 0;
  margin: 0;
  list-style-type:none;
  white-space: nowrap;
  overflow: hidden;
}

#menu li{
  display:inline-block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0px 8px;
  width: 23%;
}

#menu li:hover {
  background-color: grey;
}

#menu a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 6px 25%;
  vertical-align: middle;
}


p {
  padding-left: 40px;
}

.indexphotos {
  border-radius : 20px;
  border: 5px solid black;
  height: 250px;
  margin-left: 4%;
  margin-right: 6%;
  width: 20%;
  flex: 1;
}

.indexphotos img{
  height: inherit;
  width: 100%;
  border-radius: 20px;
}

#socials{
  background-color: black;
  height: 110px;
  border: 5px solid black;
  margin-top: 40px;
}

#socials ul{
  padding:0;
  margin:0;
  list-style-type: none;
  white-space: nowrap;
}

#socials li{
  display:inline-block;
  padding-left: 80px;
  vertical-align: center;
  width:18%;
}

#socials img{
  padding: 20px;
}

#socials a img{
  transition: transform 0.5s;
}
#socials a img:hover{
  transform: rotate(360deg);
}

.accomplishments {
  background-color: grey;
  border: 5px solid black;
  height: 150px;
  border-radius: 75px;
  color: yellow;
  font-size: 25px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.accomplishments img {
  height: 130px;
  width: 130px;
  margin: 10px;
  vertical-align: middle;
}

#intropg3 {
  line-height: 1.2em;
  margin-left:40px;
}

.interests {
  background-color: grey;
  height: 650px;
  width: 22%;
  border-radius: 25px;
  border:5px solid black;
  margin-right: 4%;
  margin-left: 6%;
  margin-top: 50px;
  flex:1;
  transition: transform 0.5s;
}

.interests:hover{
  transform: scale(1.1);
}

.headpg3 {
  text-align: center;
  font-size:30px;
  text-decoration: underline;
  color: #004466;
}

.interests p{
  text-align: center;
  font-size:22px;
  line-height: 1.2em;
  color: black;
  padding: 5px;
}

.interests img {
  width:100%;
  height: 250px;
  align-content: center;
  border-radius: 25px;
}

.row13 {
  height: 300px;
  flex:1;
  width: 40%;
  margin-left:5%;
  margin-right:5%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.row24 {
  height: 300px;
  flex:1;
  width:20%;
  margin-right:4%;
  margin-left:5%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.row13 img{
  height:inherit;
  width:100%;
  padding: 20px;
  border-radius: 30px;
  border:5px solid black;
  transition: 0.5s ease;
  opacity:1;
}

.row24 img{
  height: inherit;
  width:100%;
  padding: 10px;
  border-radius: 20px;
  border:5px solid black;
}

.container {
  position: relative;
  width: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover img {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #c2d6d6;
  color: #003366;
  font-size: 16px;
  padding: 15px 20px;
}
